[submodule "submodules/cosmos-sdk"]
	path = submodules/cosmos-sdk
	url = https://github.com/cosmos/cosmos-sdk.git
[submodule "submodules/cosmos-proto"]
	path = submodules/cosmos-proto
	url = https://github.com/cosmos/cosmos-proto.git
[submodule "submodules/googleapis"]
	path = submodules/googleapis
	url = https://github.com/googleapis/googleapis.git
[submodule "submodules/protobuf"]
	path = submodules/protobuf
	url = https://github.com/regen-network/protobuf.git
	branch = cosmos
[submodule "submodules/wasmd"]
	path = submodules/wasmd
	url = https://github.com/CosmWasm/wasmd
[submodule "submodules/secret"]
	path = submodules/secret
	url = https://github.com/scrtlabs/SecretNetwork
	ignore = all
[submodule "submodules/gogoproto"]
	path = submodules/gogoproto
	url = https://github.com/cosmos/gogoproto
[submodule "submodules/osmosis"]
	path = submodules/osmosis
	url = https://github.com/osmosis-labs/osmosis
[submodule "submodules/akash"]
	path = submodules/akash
	url = https://github.com/akash-network/akash-api
[submodule "submodules/gaia"]
	path = submodules/gaia
	url = https://github.com/cosmos/gaia
[submodule "submodules/axelar"]
	path = submodules/axelar
	url = https://github.com/axelarnetwork/axelar-core
[submodule "submodules/ibc"]
	path = submodules/ibc
	url = https://github.com/cosmos/ibc-go
[submodule "submodules/ics23"]
	path = submodules/ics23
	url = https://github.com/cosmos/ics23
[submodule "submodules/juno"]
	path = submodules/juno
	url = https://github.com/CosmosContracts/juno
[submodule "submodules/noble"]
	path = submodules/noble
	url = https://github.com/noble-assets/noble
[submodule "submodules/noble-cctp"]
	path = submodules/noble-cctp
	url = https://github.com/circlefin/noble-cctp
[submodule "submodules/tendermint"]
	path = submodules/tendermint
	url = https://github.com/tendermint/tendermint
[submodule "submodules/cometbft"]
	path = submodules/cometbft
	url = https://github.com/cometbft/cometbft
[submodule "submodules/noble-fiattokenfactory"]
	path = submodules/noble-fiattokenfactory
	url = https://github.com/circlefin/noble-fiattokenfactory
[submodule "submodules/noble-forwarding"]
	path = submodules/noble-forwarding
	url = https://github.com/noble-assets/forwarding
[submodule "submodules/noble-authority"]
	path = submodules/noble-authority
	url = https://github.com/noble-assets/authority
